/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* = Custom properties = */
@font-face {
  font-family: "hankenGrotesk";
  src: url("HankenGrotesk-VariableFont_wght.ttf") format(trueType);
}
:root {
  /* = Colors = */
  /* Primary */
  --light-red: 0, 100%, 67%;
  --orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;
  --opacity: 0.075; /* category bg */
  /* Gradients */
  /* #1 */
  --light-slate-blue: hsl(252, 100%, 67%); /* background */
  --light-royal-blue: hsl(241, 81%, 54%); /* background */
  /* #2 */
  --violet-blue: hsla(256, 72%, 46%, 1); /* circle */
  --persian-blue: hsla(241, 72%, 46%, 0); /* circle */
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  /* = Font = */
  --ff: "hankenGrotesk", sans-serif;
  --fs: 1.125rem;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extraBold: 800;
  /* = Spacing = */
  --mobile-pad-b: 1.5rem;
  --mobile-pad-i: 2rem;
  /* = Radius = */
  --border-rad: 2rem;
}

/* Global */
html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--ff);
}

@media screen and (min-width: 768px) {
  body {
    align-items: center;
  }

  main {
    --mobile-pad-b: 2.25rem;
    --mobile-pad-i: 3rem;
    display: flex;
    border-radius: 0 var(--border-rad) var(--border-rad) 0;
    box-shadow: 0rem 1rem 5rem -1.5rem var(--light-lavender);
    animation: appear 1.5s ease forwards;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20rem);
  }

  50% {
    opacity: 1;
    visibility: visible;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}